/* CSS Main Style Sheet for the Pill bug lab */
/* Author Mark Bromwich and Steven Pennington      Date 3 July 2020  */

:root {
	--clamOpacity: 100%;
}

body {
	margin: 30px 0px;
	background-color: white;
	text-align: center;
}

.Images {
  height: auto;
  width: auto;
  align-self: center;
  border-style: solid;
  z-index: -1;
}

h1 {
  text-align: center;
  font-size: 50;
  color: Blue;
}

h2 {
  color: #FFF;
  text-rendering: optimizeLegibility;
  opacity: 100%;
}

button {
  margin: 20px;
  background-color: lightgray;
  text-align: center;
  color: black;
  padding: 15px;
}

.grid-container1 {
  height: 100px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  display: grid;
  grid-template-columns: auto auto auto;
  background: blue;
  margin-bottom: -100px;
  z-index: 10;
  opacity: 50%;
}

.clam {
  z-index: 5;
  opacity: 100%;
  opacity: var(--clamOpacity);
}

.left_banner {
  text-align: left;
  opacity: 0%
  color white;
  z-index: 11
}

.canvas {
  width: 1024px;
  height: 1000px;
  border: 15px solid: black;
}

.middle_banner {
  text-align: center;
}

.right_banner {
  text-align: right;
}
