/* CSS Main Style Sheet for the Pill bug lab */
/* Author Mark Bromwich and Steven Pennington      Date 3 July 2020  */

body {
	margin: 30px 0px;
	background-color: white;
	text-align: center;
}

.Images {
  height: auto;
  width: 75%;
  align-self: center;
  border-style: solid;
}

h1 {
  text-align: center;
  font-size: 50;
  color: Blue;
}


button {
  margin: 20px;
  background-color: lightgray;
  text-align: center;
  color: black;
  padding: 15px;
}
